@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ops!</h1>
<h2 class="text-danger">Algo deu errado. Tente novamente ou contate um administrador.</h2>

